
body {
    background-color: #f8f9fa;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.btn {
    margin-top: 20px;
    font-size: 1.2rem;
}
